.container{
    margin: auto;
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 10px  ;
    position: relative;
}
.ball{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
}
p{
    padding-top: 30px;
    color: aliceblue;
}
.normal{
    background-color: blue;
    z-index: 10;
    top: 200px;
    left: 200px;
    transition-duration: 0.8s;
    transition-property: all;
    transition-delay: 0.3s;

}
.container:hover .normal{
    top: 0;
    left: 0;
}
.example1{
    background-color: green ;
    z-index: 5;
    bottom: 200px;
    right: 200px;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0.3s, 1s ;
    transition-timing-function: ease-in-out;
    transition-property: bottom, right;
}
.container:hover .example1{
    bottom: 0;
    right: 0;
}                        
.example2{
    background-color: red;
    top: 200px;
    right: 200px;
    transition-duration: 0.5s, 0.3s, 0.5s, 1.5s;
    transition-delay: 0.2s, 0.9s, 0.8s, 0.8s;
    transition-property: top, right , background-color, all;
  
}
.container:hover .example2{
    top: 0;
    right:0 ; 
    background-color: orange;
    border-radius: 0;
}